@font-face {
  font-weight: 300;
  font-family: Roboto;
  src: url("/src/fonts/Roboto-Light.ttf");
}
@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("/src/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("/src/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 900;
  font-family: Roboto;
  src: url("/src/fonts/Roboto-Black.ttf");
}
body {
  font: 100% Roboto, sans-serif;
  color: #000;
  margin: 0;
}

header {
  background: linear-gradient(224.42deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.165%);
  display: flex;
  color: #fff;
}

header .header-phones {
  margin-left: 128px;
  margin-top: 31px;
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  gap: 12px;
}
header .header-phones a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  line-height: 9.5px;
}
header .header-phones img {
  width: 20px;
  height: 20px;
}
header .header-location {
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  margin-bottom: 26px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 5px;
}
header .header-location img {
  width: 15px;
  height: 25px;
}
header .header-location span {
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
}
header .header-instagram {
  margin-left: auto;
  margin-right: 90px;
  margin-top: 23px;
  margin-bottom: 25.7px;
  display: flex;
  align-items: center;
  gap: 15px;
}
header .header-instagram img {
  width: 30px;
  height: 28.3px;
}
header .header-instagram span {
  max-width: 128px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.main-information {
  padding-left: 122px;
  padding-top: 47px;
  padding-right: 87px;
  padding-bottom: 25px;
  position: relative;
}

.main-information-navigation {
  display: flex;
  align-items: center;
  margin-right: 35px;
}
.main-information-navigation img {
  width: 100.01px;
  height: 59.97px;
  color: linear-gradient(90deg, rgb(184, 0, 95) 9.242%, rgb(0, 255, 255) 210.4%);
  margin-right: 11px;
}
.main-information-navigation span {
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  font-style: italic;
}
.main-information-navigation .list-nav {
  margin-left: auto;
  margin-top: 1px;
}
.main-information-navigation .list-nav .list-item {
  display: inline-block;
  list-style-type: none;
  margin-right: 25px;
}
.main-information-navigation .list-nav .list-item a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}
.main-information-navigation .list-nav .list-item:last-child {
  margin-right: 0;
}

.main-information-order {
  margin-top: 189px;
  position: relative;
  z-index: 1;
}
.main-information-order h1 {
  max-width: 676px;
  font-size: 50px;
  font-weight: 900;
  line-height: 59px;
  margin-bottom: 10px;
}
.main-information-order p {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 5px;
  height: 43px;
}
.main-information-order button {
  width: 179px;
  height: 53px;
  border-radius: 7px;
  background: linear-gradient(135.87deg, rgb(185, 1, 96) 2.23%, rgb(46, 49, 146) 99.506%);
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  line-height: 23px;
}

.main-information-undercover-image {
  position: absolute;
  right: 87px;
  top: 141px;
  width: 745px;
  height: 522px;
  background: url("/src/img/undercover1.png");
  transform: rotate(-180deg);
}

.main-information-rug-image {
  position: absolute;
  top: 141px;
  right: 87px;
  width: 745px;
  height: 522px;
  background: url(/src/img/rug1.png);
  transform: rotate(-180deg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.main-section-vector {
  fill: linear-gradient(155deg, #d4145a 0%, #2e3192 100%);
  position: absolute;
}

.main-section-vector-1 {
  top: 236px;
  left: 418.99px;
}

.main-section-vector-2 {
  top: 244.99px;
  left: 439.99px;
}

.main-section-vector-3 {
  top: 578px;
  left: 143px;
}

.main-section-vector-4 {
  top: 632px;
  left: 172px;
}

.main-section-vector-5 {
  top: 610px;
  left: 85.98px;
}

/*# sourceMappingURL=style.css.map */
