@font-face {
  font-weight: 300;
  font-family: Roboto;
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 900;
  font-family: Roboto;
  src: url("../fonts/Roboto-Black.ttf");
}
body {
  font: 100% Roboto, sans-serif;
  color: #000;
  box-sizing: border-box;
  margin: 0;
}

header {
  background: linear-gradient(224.42deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.165%);
  display: flex;
  color: #fff;
}

header .header-phones {
  margin-left: 128px;
  margin-top: 31px;
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  gap: 12px;
}
header .header-phones a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  line-height: 9.5px;
}
header .header-phones img {
  width: 20px;
  height: 20px;
}
header .header-location {
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  margin-bottom: 26px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 5px;
}
header .header-location img {
  width: 15px;
  height: 25px;
}
header .header-location span {
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
}
header .header-instagram {
  margin-left: auto;
  margin-right: 90px;
  margin-top: 23px;
  margin-bottom: 25.7px;
  display: flex;
  align-items: center;
  gap: 15px;
}
header .header-instagram img {
  width: 30px;
  height: 28.3px;
}
header .header-instagram span {
  max-width: 128px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.main-information {
  padding-left: 122px;
  padding-top: 47px;
  padding-right: 87px;
  padding-bottom: 25px;
  position: relative;
}

.main-information-navigation {
  display: flex;
  align-items: center;
  margin-right: 35px;
}
.main-information-navigation img {
  width: 100.01px;
  height: 59.97px;
  color: linear-gradient(90deg, rgb(184, 0, 95) 9.242%, rgb(0, 255, 255) 210.4%);
  margin-right: 11px;
}
.main-information-navigation span {
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  font-style: italic;
}
.main-information-navigation .list-nav {
  margin-left: auto;
  margin-top: 1px;
}
.main-information-navigation .list-nav .list-item {
  display: inline-block;
  list-style-type: none;
  margin-right: 25px;
}
.main-information-navigation .list-nav .list-item a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}
.main-information-navigation .list-nav .list-item:last-child {
  margin-right: 0;
}

.main-information-order {
  margin-top: 189px;
  position: relative;
  z-index: 1;
}
.main-information-order h1 {
  max-width: 676px;
  font-size: 50px;
  font-weight: 900;
  line-height: 59px;
  margin-bottom: 10px;
}
.main-information-order p {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 5px;
  height: 43px;
}
.main-information-order button {
  width: 179px;
  height: 53px;
  border-radius: 7px;
  background: linear-gradient(135.87deg, rgb(185, 1, 96) 2.23%, rgb(46, 49, 146) 99.506%);
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  line-height: 23px;
  text-transform: uppercase;
}

.main-information-undercover-image {
  position: absolute;
  right: 87px;
  top: 141px;
  width: 745px;
  height: 522px;
  background: url("../img/undercover1.png");
  transform: rotate(-180deg);
}

.main-information-rug-image {
  position: absolute;
  top: 141px;
  right: 87px;
  width: 745px;
  height: 522px;
  background: url("../img/rug1.png");
  transform: rotate(-180deg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.main-section-vector {
  fill: linear-gradient(155deg, #d4145a 0%, #2e3192 100%);
  position: absolute;
}

.main-section-vector-1 {
  top: 236px;
  left: 418.99px;
}

.main-section-vector-2 {
  top: 244.99px;
  left: 439.99px;
}

.main-section-vector-3 {
  top: 578px;
  left: 143px;
}

.main-section-vector-4 {
  top: 632px;
  left: 172px;
}

.main-section-vector-5 {
  top: 610px;
  left: 85.98px;
}

.about-rugs {
  margin-top: 113px;
  position: relative;
}
.about-rugs h2 {
  padding-top: 25px;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  margin-bottom: 120px;
}
.about-rugs h2 span {
  text-transform: uppercase;
  background: linear-gradient(180deg, #b90160 0%, #3d5bf5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-rugs-flex {
  display: flex;
  justify-content: center;
  gap: 61px;
  margin-bottom: 225px;
}

.about-rugs-card {
  z-index: 1;
  border-radius: 9px;
  width: 344px;
  height: 414px;
  background: #fff;
  box-shadow: 0 0 40px 0 rgba(184, 0, 95, 0.2);
}
.about-rugs-card img {
  width: 100%;
  height: 220px;
  border-radius: 9px 9px 0 0;
}
.about-rugs-card h3 {
  font-weight: 700;
  line-height: 42px;
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 22px;
  padding-right: 33px;
}
.about-rugs-card p {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #767676;
  margin-bottom: 10px;
  padding-left: 22px;
  padding-right: 33px;
}

.about-rugs-vector {
  position: absolute;
  fill: linear-gradient(180deg, #d4145a 0%, #2e3192 100%);
  top: 183px;
  left: 0;
  z-index: 0;
}

.review {
  background: linear-gradient(141.88deg, rgba(212, 20, 90, 0.25) 0.926%, rgba(46, 49, 146, 0.25) 104.886%);
  height: 357px;
  display: flex;
  justify-content: center;
  gap: 70px;
  overflow-x: hidden;
}

.review-card {
  box-sizing: border-box;
  flex-shrink: 0;
  margin-top: 98px;
  padding: 63px 44px 0;
  position: relative;
  border-radius: 9px;
  width: 536px;
  height: 187px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  text-align: center;
}
.review-card .masked {
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  margin: auto;
  width: 93px;
  height: 106px;
  background-image: url("../img/otz2_1.jpg");
  mask-image: url("../img/Vector.png");
}
.review-card .masked img {
  width: 93px;
  height: 106px;
}

.review-text {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

.review-text::after {
  display: block;
  content: "";
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 130px;
  height: 2px;
  background-image: linear-gradient(rgb(212, 20, 90), rgb(61, 91, 245));
}

.review-author {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 300;
  line-height: 15px;
  color: rgb(142, 142, 142);
  margin-bottom: 20px;
}

.review-card-first,
.review-card-last {
  opacity: 0.4;
  padding-top: 77px;
}

.review .masked-last {
  background-image: url("../img/otz3_1.jpg");
}
.review .masked-first {
  background-image: url("../img/otz1_1.jpg");
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 141px;
  position: relative;
  padding-top: 172px;
  padding-bottom: 84px;
}

.footer-social-sites h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 6px;
}
.footer-social-sites img {
  width: 33px;
  height: 33px;
}

.footer-contact-phones h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}
.footer-contact-phones ul {
  list-style-type: none;
  padding-left: 0;
}
.footer-contact-phones a {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 68%;
  color: #000;
}

.footer-about-us h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}
.footer-about-us ul {
  padding-left: 0;
  list-style-type: none;
}
.footer-about-us li {
  max-width: 224px;
  font-weight: 300;
  font-size: 14px;
  line-height: 114%;
  padding-bottom: 10px;
}
.footer-about-us li:last-child {
  padding-bottom: 0;
}
.footer-about-us a {
  text-decoration: none;
  color: #000;
}

.footer-vector-first {
  position: absolute;
  top: 82px;
  left: 75px;
}

.footer-vector-second {
  position: absolute;
  top: 19px;
  right: 116px;
}

@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }
  header {
    padding: 22px 0 11px;
    margin: 0;
    flex-direction: column;
  }
  header .header-phones img,
  header .header-location img {
    display: none;
  }
  header .header-phones {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  header .header-phones a {
    font-weight: 500;
    font-size: 14px;
    line-height: 68%;
  }
  header .header-location {
    margin: 8px auto 11px;
  }
  header .header-instagram {
    display: none;
  }
  header .header-instagram span {
    font-weight: 300;
    font-size: 17px;
    line-height: 94%;
  }
}

/*# sourceMappingURL=style.css.map */
